
//imports
@import "utilities/reset";
@import "utilities/variables";
@import "utilities/header";
@import "utilities/footer";


//scss padre


body {
    max-height: 100%;
    max-width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer";
}
/*fuentes*/
h1 {
    @extend %h1-font;
}
h2 {
    @extend %h2-font;
}
h3 {
    @extend %h3-font;
}
p {
    @extend %p-font;
}

/*index*/
.indexCarousel{
    height: 70%;
    width: 80%;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
}

/*code4*/
.subheaderCode {
    display: grid;
    grid-template: 10% / 100%;
    .imgCodeHeader {
        display: grid;
        width: 100%;
    }
}
.mainCode {
    margin: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    align-items: center;
}

/*agrosoft*/
.subheaderAgrosoft {
    display: grid;
    grid-template: 10% / 100%;
    .imgAgroHeader {
        display: grid;
        width: 100%;
    }
}
.mainAgro {
    margin: 20px;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 100%;
    align-items: center;
    .agroCarousel {
        height: 70%;
        width: 80%;
        justify-content: center;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 3%;
        margin-bottom: 3%;
    }
    .agroHQ {
        grid-column: 1;
    }
}

/*utec*/
.subheaderUTEC {
    display: grid;
    grid-template: 10% / 100%;
    .imgUTECHeader {
        display: grid;
        width: 100%;
    }
}
.mainUtec {
    margin: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    align-items: center;
}

/*contacto*/
.subheaderContacto {
    display: grid;
    grid-template: 10% / 100%;
    .imgContHeader {
        display: grid;
        width: 100%;
    }
}
.mainContacto {
    margin: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    align-items: center;
    justify-content: center;
}
.header {
    color: red;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: red;
}
