@import "variables";
@import "header";
@import "footer";

h1 {
    @extend %h1-font;
}
h2 {
    @extend %h2-font;
}
h3 {
    @extend %h3-font;
}
p {
    @extend %p-font;
}

.subheaderContacto {
    display: grid;
    grid-template: 10% / 100%;
    .imgContHeader {
        display: grid;
        width: 100%;
    }
}
.mainContacto {
    margin: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    align-items: center;
    justify-content: center;
}
.header {
    color: red;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: red;
}