@import "variables";
@import "reset";

        .footercode4 {
            margin-top: 10%;
            display: grid;
            grid-template-rows: 30%;
            grid-template-columns: 35% 30% 35%;
            background-color: $bg-color;
            @extend %foot-font;
            .derReserv {
                display: flex;   
                justify-content: flex-start;
                align-items: flex-end;
                
            }
            .redes{
                display: flex;
                justify-content: center;
                align-items: center;
                justify-content: space-around;
                flex-wrap: wrap;
                .logoRrss {
                    height: 45px;
                    width: 45px;
                    .logoRrss:hover {
                        transform: scale(1.2,1.2);
                    }
                }
            }
            .info {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                flex-direction: column;
                .infofoot {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    .logoFooter {
                        height: 30px;
                        width: 30px;
                    }
                }
            }
        }
    