@import "variables";
@import "reset";

   
        .footercode4 {
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 35% 30% 35%;
            background-color: $bg-color;
            .derReserv {
                display: flex;   
                justify-content: flex-start;
                align-items: flex-end;
                @extend %foot-font;
            }
            .redes{
                display: flex;
                justify-content: center;
                align-items: center;
                justify-content: space-around;
                flex-wrap: wrap;
                @extend %foot-font;
                .logoRrss {
                    height: 45px;
                    width: 45px;
                }
            }
            .info {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                flex-direction: column;
                @extend %foot-font;
                .infofoot {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    .logoFooter {
                        height: 30px;
                        width: 30px;
                    }
                }
            }
        }
    