@import "reset";
@import "variables";


//intento con grid//

    .headerCode4 {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "headU" "headD";
        background-color: $bg-color;
        

        img {
            display: grid;
            grid-area: headU;
            display: flex;
            justify-content: center;
            height: 60%;
            margin-left: 20%;
            margin-top: 1%;            
        }
        nav {
            ul{
            display: grid;
            grid-area: headD;
            display: flex;
            flex-direction: row;
            justify-content: center;
            column-gap: 10%;
            align-items: center;
            list-style: none;
            margin-top: 10%;
                li {
                    display: flex;
                    flex-wrap: wrap;
                    a{
                        list-style: none;
                        font-family: $font-fam;
                        font-size: 150%;
                        column-gap: 5%;
                        box-shadow: 2px 2px 5px;
                        text-decoration:none;
                        color: white;
                    }
                }
            }
        }
    }
