@import "variables";
@import "reset";

    .headerCode4 {
        grid-area: header;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "headU" "headD";
        background-color: $bg-color;
        height: 140px; //no funciono con %

        img {
            grid-area: headU;
            display: flex;
            justify-content: center;
            height: 40%;
            margin-left: 20%;
            margin-top: 2%;            
        }
        nav {
            ul{
            grid-area: headD;
            display: flex;
            flex-direction: row;
            justify-content: center;
            column-gap: 10%;
            align-items: center;
            list-style: none;
            margin-top: 6%;
            
                li {
                    display: flex;
                    flex-wrap: wrap;
                    a{
                        display: flex;
                        list-style: none;
                        font-family: $font-fam;
                        font-size: 150%;
                        column-gap: 5%;
                        box-shadow: 2px 2px 5px;
                        text-decoration:none;
                        color: white;
                        flex-wrap: wrap;
                        
                    }
                }
            }
        }
    }
    