$bg-color: #d80016;
$font-fam: 'Roboto', serif;
%reset { margin: 0; padding: 0; box-sizing: border-box; }
//Letras
%h1-font{ font-size: 500%; font-family: $font-fam;  color: white; font-weight: bold; margin-left: 2%;}
%h2-font{ font-size: 200%; font-family: $font-fam; text-align: center; font-weight: bold;}
%h3-font{ font-size: 170%; font-family: $font-fam; font-weight: bold;}
%p-font{ font-size: 120%; font-family: $font-fam;}

